.ship {
  width: 900px;
  height: 900px;
  border: 1px solid black;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  list-style: none;
}

#box {
  background: white;
  vertical-align: top;
  text-align: center;
  flex: 1;
}